.report-filter-button {
	background-color: #dfdada;
	border: 0.1px solid #f4efef;
	padding: 2px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.o_partner_filter {
    .badge {
        font-size: 0.85em;
        background-color: #007bff;
        color: white;
    }
    .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
    }
}




